.renderedHtml {
    background-color: red;
    ul{
        padding: 1rem;
        margin: 1rem;
    }
    ol{
        padding: 1rem;
        margin: 1rem;
    }
}



// l => l.GroupId == groupId && l.StartDate<=DateTime.UtcNow.AddDays(2)